@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

.list-group-table {
  margin-top: 1rem;
  width: max-content;
  max-width: 46rem;
  min-width: 35rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  background: #a6adb9;
  width: auto;
  transition: all 0.3s ease-in-out;
}

.list-item-dark {
  /* background: #16181c; */
  color: #c8c8c8;
  transition: all 0.3s ease-in-out;
}

.list-item-info {
  white-space: break-spaces;
  margin-right: 1rem;
}

.list-item-id {
  font-size: 14px;
  color: gray;
  height: min-content;
  width: min-content;
  margin-right: 5px;
}

.list-item-value {
  font-size: 25px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18rem;
  overflow-wrap: break-word;
  text-align: start;
}

.list-item-count {
  font-size: 25px;
}

.list-item-btn-group {
  /* margin-left: 1rem; */
}

.marketlist-btn-group {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.marketlist-btn {
  min-height: 2rem;
  min-width: 5rem;
}

@media only screen and (max-width: 480px) {
  .list-item-value,
  .list-item-count {
    font-size: 22px;
  }

  .w-80 {
    width: 80% !important;
  }

  .list-item-width {
    max-width: 7rem;
  }

  .list-item-info-width {
    max-width: 11.5rem;
  }

  .list-item-btn-group {
    /* margin-left: 1rem; */
    /* display: flex;
    flex-flow: column-reverse; */
    gap: 7px;
    margin-top: 0.5rem;
  }

  .list-group-table {
    min-width: 100%;
  }

  .marketlist-btn-group {
    gap: 1rem;
    margin: 2rem 0;
  }

  .list-item-info {
    margin-right: 0px !important;
  }
}

@media only screen and (max-width: 720px) {
  .list-group-table {
    min-width: 100%;
  }
}
