@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

.list-group-table {
  width: max-content;
  margin-top: 1rem;
  max-width: 36rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  background: #a6adb9;
  width: auto;
  transition: all 0.3s ease-in-out;
}

.list-item-dark {
  background: #16181c;
  color: #c8c8c8;
  transition: all 0.3s ease-in-out;

}

.list-item-info {
  white-space: break-spaces;
}

.list-item-id {
  font-size: 14px;
  color: gray;
  height: min-content;
  width: min-content;
  margin-right: 5px;
}

.list-item-value {
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
}

.list-item-count {
  font-size: 25px;
}

.list-item-btn-group {
  /* margin-left: 1rem; */
}

.list-item-btn {
  margin-left: 0.5rem;
  /* padding: 0.4rem; */
}

.marketlist-btn-group {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {

  .list-item-value,
  .list-item-count {
    font-size: 20px;
    max-width: 8rem;
  }

  .list-item-btn-group {
    /* margin-left: 1rem; */
    /* display: flex;
    flex-flow: column-reverse; */
    gap: 7px;
  }

  .marketlist-btn-group {
    gap: 1rem;
  }

  .marketlist-btn {
    height: 2rem;
    min-width: 5rem;
  }
}