@import "../../Styles/global.css";

.input-add-list {
  margin: 0.5rem;
}

.input-search {
  border-radius: var(--border-radius-min);
  max-width: 12rem;
  padding: 0 0.7rem;
  font-size: var(--font-size);
  width: 12rem;
}

.input-search-dark {
  background: #202327;
  color: var(--label-dark);
  border-color: var(--react);
}

.add-list-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
  .input-search {
    font-size: var(--font-size);
    height: 2rem;
    width: 11rem;
  }

  .btn-option {
    flex-direction: row-reverse;
  }
}
