:root {
  /* Themes */
  /* dark */
  --bg-dark: #16181c;
  --bg-list-dark: #1f2431;
  --label-dark: #c8c8c8;
  /* light */
  --bg-light: #707c92;
  --bg-list-light: #a6adb9;
  --label-light: #212529;

  --black: #212529;

  /* Colours */
  --primary: #0d6efd;
  --danger: #bb2d3b;
  --secondary: #6c757d;
  --success: #157347;

  --secondary-dark: #5c636a;
  --secondary-darker: #6c757d;

  --font-size: 20px;
  --font-size-mobile: 20px;
  --btn-size: 2rem;
  --btn-size-mobile: 2rem;
}

[class*="dark"] {
  transition: all 0.3s ease-in-out;
}

.btn {
  border-radius: 2rem;
  margin: 0px 5px;
  padding: 3px 8px;
  font-size: var(--font-size);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-dark {
  background: transparent !important;
}

.btn-dark:hover {
  border-color: white;
  color: white;
}

.btn-danger-dark {
  color: var(--danger);
  border-color: var(--danger);
}

.btn-primary-dark {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-secondary-dark {
  color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}

.btn-secondary-disabled {
  border-color: grey !important;
  opacity: 0.4 !important;
}

.btn-success-dark {
  color: var(--success);
  border-color: var(--success);
}

.btn-option {
  flex-flow: row-reverse;
  justify-content: space-between;
  cursor: pointer;
}

.group-btn-options {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.label-dark {
  color: var(--label-dark);
}

.background-dark {
  background-color: var(--bg-dark);
}

.list-background-dark {
  background-color: var(--bg-list-dark);
}

.disabled {
  cursor: not-allowed !important;
}

.disabled-dark {
  color: grey !important;
  border-color: grey !important;
  opacity: 0.4 !important;
  /* color: #0d6efd !important; */
  /* background-color: transparent !important; */
  /* border-color: #0d6efd !important; */
}

.list-group {
  border-radius: 1rem;
}

.text {
  font-size: var(--font-size);
}

.form-check-input {
  cursor: pointer !important;
  width: 2.5rem !important;
  height: 1.2rem !important;
}

.icon-option {
  font-size: var(--font-size);
}

/* OVERRIDE */
.MuiSvgIcon-root {
  vertical-align: middle;
}

@media only screen and (max-width: 480px) {
  .icon-option {
    font-size: 2rem;
  }

  .list-container,
  .list-group {
    width: 100%;
  }

  .group-btn-options {
    font-size: var(--font-size-mb);
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 720px) {
}
