:root {
  /* Themes */
  /* dark */
  --bg-dark: #16181c;
  --bg-list-dark: #1f2431;
  --label-dark: #c8c8c8;
  /* light */
  --bg-light: #707c92;
  --bg-list-light: #a6adb9;
  --label-light: #212529;

  /* Colours */
  --primary: #0d6efd;
  --danger: #bb2d3b;
  --secondary: #6c757d;
  --success: #157347;

}

[class*=dark] {
  transition: all 0.3s ease-in-out;
}

.list-item-btn-danger-dark {
  color: var(--danger);
}

.list-item-btn-primary-dark {
  color: var(--primary);
}

.list-item-btn-secondary-dark {
  color: var(--secondary);
}

.list-item-btn-success-dark {
  color: var(--success);
}

.label-dark {
  color: var(--label-dark);
}

.background-dark {
  background-color: var(--bg-dark);
}

.list-background-dark {
  background-color: var(--bg-list-dark);
}

.disabled-dark {
  color: grey !important;
  border-color: grey !important;
  opacity: 0.4 !important;
  /* color: #0d6efd !important; */
  /* background-color: transparent !important; */
  /* border-color: #0d6efd !important; */
}

.list-group {
  border-radius: 1rem;
}

.list-item-btn-dark {
  background: transparent !important;
}

.btn {
  border-radius: 2rem;
  margin: 0px 5px;
  padding: 3px 8px;
}

.btn-option {
  flex-flow: row-reverse
}

.group-btn-options {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.list-item-btn {
  margin-left: 0.5rem;
  /* padding: 0.4rem; */
}

/* OVERRIDE */
.MuiSvgIcon-root {
  vertical-align: middle;
}

@media only screen and (max-width: 480px) {

  label,
  div,
  input,
  .btn {
    font-size: 14px;
  }

  .list-container,
  .list-group {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 720px) {}