/* light:
--background-primary: #707c92
--background-secondary: #a6adb9
--primary: #0d6efd
--success: #198754
--danger: #dc3545
--react: #61dafb

dark:
--background-primary: #000000
--background-secondary: #16181c
--primary: #0d6efd
--success: #157347
--danger: #bb2d3b
--react: #61dafb */